// Override template styles or write your custom styles
nav .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: white !important;
}

nav .v-icon__svg {
  fill: white !important;
}
.theme--light.bg-blur {
  background-color: rgba(0, 148, 234, 0.36) !important;
}

.theme--light.v-app-bar.v-toolbar.app-bar-shinked {
  background-color: rgba(0, 148, 234, 0.36) !important;
}

.bg-gradient-primary {
  background: linear-gradient(98deg, rgba(0, 148, 234, 1), rgba(0, 148, 234, 1) 94%) !important;
}

nav .v-list-item__title {
  align-self: center;
  font-size: 14px;
}

footer span {
  font-size: 12px;
}

.theme--light.v-icon {
  color: #0094ea !important;
}

nav img {
  width: 100px !important;
}
